*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #AE7C78;
	padding-top: 26px; 
}

.container{
	width: 1200px;
	margin: 0 auto;
}

h1{
	margin-top: 0;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 59px;
	color: #AE7C78;
	margin-bottom: 24px;
}
h2{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	color: #AE7C78;
	margin: 0 auto;
	margin-bottom: 36px;
	letter-spacing: 0.02em;
	text-align: center;
}

section{
	margin-top: 80px;
}

section:nth-of-type(2){
	margin-top: 48px;
}

.italic{
	font-style: italic;
}

.main-btn{
	width: 285px;
	height: 80px;
	background: #D89999;
	border-radius: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-btns{
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.after-title-text{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #AE7C78;
}

.links{
	display: flex;
	text-align: center;
	align-items: center;
}

.links-footer .link-btn{
	filter: brightness(100) grayscale(100%);
}

.link-btn{
	font-size: 0;
	height: 20px;
	width: 26px;
	margin-right: 10px;
}

.link-btn:nth-child(3){
	margin-right: 0;
}

.link-ins{
	background: url(../img/instagram_icon.svg) 50% 50% no-repeat;
}

.link-facebook{
	background: url(../img/facebook_icon.svg) 50% 50% no-repeat;
}

.link-twitter{
	background: url(../img/twitter_icon.svg) 50% 50% no-repeat;
}

/*Общее*/
/*Шапка*/
header{
	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
	height: 65px
}

.nav-header{
	position: relative;
	padding-top: 22px;
	padding-bottom: 22px;
	height: 65px;
}

.nav-header ul{
	list-style: none;
	width: 100%;
	height: 100%;
}

.nav-header li{
	float: left;
	margin-right: 102px; 
}

.nav-header li:last-of-type{
	margin-right: 0; 
}

.nav-header li:nth-of-type(3){
	float: left;
	margin-right: 224px; 
}

.nav-header li:nth-of-type(4),
.nav-header li:nth-of-type(5){
	margin-right: 89px; 
}


.nav-header a{
	color: #AE7C78;
	text-decoration: none;
}


.nav-header .logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-header .logo a{
	display: block;
	height: 100%;
}

.logo image{
	height: 100%;

}

/*Page action*/
.action{
	display: grid;
	grid-template-columns: 384px 1fr 1fr; 
	grid-template-rows: 463px; 
}

.action img{
	margin-left: auto;
	border-radius: 10px
}


.action img:nth-of-type(1){
	margin-top: auto;
}

.action p{
	margin-bottom: 64px;
}
/*Page Advantages*/

.advantage-list{
	display: flex;
	width: 100%;
}

.advantage{
	display: flex;
	flex-direction: column;
	position: relative;
}

.advantage1{
	padding-left: 102px;
}

.advantage1::before{
	content: "";
	position: absolute;
	width: 82px;
	height: 52px;
	background: url(../img/advantage_1.svg) no-repeat 0 0;
	left: 0;
	top: 0;
}

.advantage2{
	padding-left: 72px;
	margin-left: 49px;
}

.advantage2::before{
	content: "";
	position: absolute;
	width: 52px;
	height: 52px;
	background: url(../img/advantage_2.svg) no-repeat 0 0;
	left: 0;
	top: 0;
}

.advantage3{
	padding-left: 79px;
	margin-left: 43px;
}

.advantage3::before{
	content: "";
	position: absolute;
	width: 58.6px;
	height: 52px;
	background: url(../img/advantage_3.svg) no-repeat 0 0;
	left: 0;
	top: 0;
}

.advantage dt{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 8px;
	color: #AE7C78;
}

.advantage dd{
	width: 285px;
}
/*Slider*/
.slider-title{
	margin-bottom: 36px;
}

.slider{
	width: 794px;
	margin: 0 auto;
}

.slider >input{
	display: none;
}
.slides{
	overflow: hidden;
}

.slider-slides{
	width: 300%;
	transition: transform 0.8s ease;
}

.slide{
	float: left;
}

.slide-desc{
	float: left;
}

.slide-desc h3{
	font-weight: bold;
}

.slide img{
	float: right;
	margin-left: 20px; 
}

.slide h3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #AE7C78;
	margin-bottom: 20px;
	margin-top: 27px;
}

.slide p{
	margin-bottom: 24px;
	width: 387px;
}

.slide p:nth-of-type(3){
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 64px;
}

.controls{
	width: 122px;
	height: 16px;
	margin: 0 auto;
	margin-top: 15px;
}

#switch1:checked ~ .controls label:nth-child(2),
#switch2:checked ~ .controls label:nth-child(3),
#switch3:checked ~ .controls label:nth-child(1){
	display: block;
	width: 51px;
	height: 16px;
	background: url(../img/arrow-right.svg);
	float: right;
}

#switch1:checked ~ .controls label:nth-child(3),
#switch2:checked ~ .controls label:nth-child(1),
#switch3:checked ~ .controls label:nth-child(2){
	display: block;
	width: 51px;
	height: 16px;
	background: url(../img/arrow-left.svg);
	float: left;
}

#switch1:checked ~ .slides .slider-slides{
	transform: translate(0);
}

#switch2:checked ~ .slides .slider-slides{
	transform: translate(-794px);
}

#switch3:checked ~ .slides .slider-slides{
	transform: translate(-1588px);
}

/*page-cards*/
.page-cards{
	margin-bottom: 80px;
}

.page-cards .container{
	display: flex;
	justify-content: space-between;
}

.link-inner{
	height: 76px;
	position: relative;
	display: inline-block;
	top:50%;
	transform: translateY(-50%);
}

.card{
	position: relative;
	width: 387px;
	height: 442px;
}

.card::before{
	content: "";
	position: absolute;
	border-radius: 10px;
	width:387px;
	height: 442px;
	background-color: rgba(174, 124, 120, 0.6);
}

.card a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-decoration: none;
	text-align: center;
	height: 100%;
	width: 100%;
}

.card h3{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;	
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.card p{
	margin: 0 auto;
	color: #FFFFFF;
	width: 252px;
}

.card img{
	border-radius: 10px;
}

/*page-discount*/
.page-discount{
	margin-bottom: 80px;
}
.page-discount .container{
	position: relative;
	padding:40px 0 0 102px ;
	background: #AE7C78;
	height:391px;
}

.discount-desc h1{
	width: 488px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 59px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}

.discount-desc p{
	color: white;
	width: 387px;
	margin-bottom: 64px;
}
.page-discount .container img{
	position: absolute;
	top: 0;
	right: 0;
}
/*Page order steps*/

.steps{
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.step{
	width: 285px;
	text-align: center;
	position:relative;
}

.step:nth-child(2) p{
	width: 284px;
}

.step::before{
	content: "";
	position: absolute;
	height: 52px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.step:nth-child(1)::before{
	background: url(../img/step1.svg);
	width: 66.08px;
}
.step:nth-child(2)::before{
	background: url(../img/step2.svg);
	width: 37.49px;
}
.step:nth-child(3)::before{
	background: url(../img/step3.svg);
	width: 69.93px;
}
.step:nth-child(4)::before{
	background: url(../img/step4.svg);
	width: 82.21px;
}

.step h3{
	font-size: 16px;
	margin-top: 60px;
	margin-bottom: 9px;
	font-weight: 500;
}

/*Page Social networks*/
.page-social_networks .container{
	display: flex;
	justify-content: space-between;
}

.social-desc{
	width: 387px;
}

.social-desc h2{
	text-align: left;
	margin-top: 68px;
	margin-bottom: 40px;
}

.social-desc p{
	margin-bottom: 40px;
}

.social-picks{
	display: grid;
	grid-template-areas: "i1 i3"
						 					 "i2 i3";
	grid-gap: 20px
}

.social-picks img:nth-child(1){
	grid-area: i1;
}

.social-picks img:nth-child(2){
	grid-area: i2;
}

.social-picks img:nth-child(3){
	grid-area: i3;
}

/*Page rewiews*/
.page-reviews .container{
	border: 1px solid rgba(174, 124, 120, 1);
	padding: 40px 44px 64px 44px;

}

.page-reviews h2{
	margin-bottom: 40px;
}

.reviews{
	display: flex;
	justify-content: space-between;
}

.reviews blockquote{
	text-align: center;
	width: 300px;
}

.reviews blockquote p{
	margin-bottom: 16px;
}

.reviews blockquote cite{
	font-weight: 500;
	font-style: normal;
}
/*Page feedback*/
.page-feedback{
	background: url(../img/feedback_bg.jpg) no-repeat;
	background-size: cover;
}

.page-feedback .container{
	padding: 52px 0px 72px 102px;
}

.feedback{
	width: 386px;
	background-color: rgba(247, 250, 252, 1);
	padding: 40px 0 65px 35px;
	text-align: left;
}

.feedback h2{
	text-align: left;
	margin-bottom: 42px;
}

.feedback ul{
	list-style: none;
}

.feedback li{
	margin-bottom: 30px;
	max-width: 243px;
}

.feedback li p:first-of-type{
	margin-bottom: 16px;
}

.feedback li:nth-child(1) p:nth-child(2),
.feedback li:nth-child(2) p:nth-child(2){
	font-weight: 500;
}

.feedback li a{
	text-decoration: none;
	color: #AE7C78;
	font-weight: 500;
}

.feedback li:last-child{
	margin-bottom: 0;
}

/*footer*/
footer{
	background-color: #AE7C78;
}

.nav-footer{
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
	align-self: center;
}

.nav-footer .logo img{
	filter: brightness(100) grayscale(100%);
}

.nav-footer ul{
	list-style: none;
	display: flex;
	align-items: center;
}

.nav-footer ul li{
	margin-right: 68px;
}

.nav-footer ul li:last-child{
	margin-right: 0;
}

.nav-footer ul a{
	text-decoration: none;
	color: #fff;
}